@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url("../src/img/background-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* 촬영한 사진 담길 div */
.windows .sub-win-0 .window-top {
  border-bottom: 1px solid #CDACF9;
  background: #6464DE;
}
.windows .sub-win-0 .window-btm {
  border: 5px solid #CDACF9;
  background: #CDACF9;
}
.windows .sub-win-1 .window-top {
  border-bottom: 1px solid #F7CEE8;
  background: #EF9FC3;
}
.windows .sub-win-1 .window-btm {
  border: 5px solid #F7CEE8;
  background: #F7CEE8;
}
.windows > div {
  position: fixed;
  height: 240px;
}
.windows > div .window-top {
  width: 330px;
  height: 30px;
  box-sizing: border-box;
  padding: 4px 5px 0 0;
}
.windows > div .window-top img {
  height: 18px;
  float: right;
}
.windows > div .window-btm {
  position: relative;
  width: 320px;
}
.windows > div .window-btm img:first-child {
  width: 320px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.windows > div .window-btm img:last-child {
  position: absolute;
  height: 244px;
  top: 0;
  right: 0;
}

/* 메인 카메라 창 */
.main-cam {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: 10px solid #CDACF9;
  border-top: none;
  background: #CDACF9;
}
.main-cam #video {
  position: relative;
}
.main-cam .window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  width: 640px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  background: #CDACF9;
  box-sizing: border-box;
  padding: 7px 0 5px 0;
}
.main-cam .window div {
  display: flex;
  justify-content: space-between;
}
.main-cam .window img {
  height: 20px;
}
.main-cam .window > img {
  align-self: start;
}
.main-cam .timer {
  display: none;
  z-index: 10;
  position: absolute;
  top: 70px;
  left: 30px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.photo-canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.emoji-picker {
  bottom: calc(100vh - 1140px);
  left: 60vw;
}/*# sourceMappingURL=style.css.map */