@import "reset";
@font-face {
  font-family: 'DOSGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  background: url('../src/img/background-img3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* 촬영한 사진 담길 div */
.windows {
  .sub-win-0 {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
    .window-top {
      border-bottom: 1px solid #CDACF9;
      background: #6464DE;
    }
    .window-btm {
      border: 5px solid #CDACF9;
      background: #CDACF9;
    }
  }
  .sub-win-1 {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
    .window-top {
      border-bottom: 1px solid #F7CEE8;
      background: #EF9FC3;
    }
    .window-btm {
      border: 5px solid #F7CEE8;
      background: #F7CEE8;
    }
  }
  & > div {
    z-index: 3;
    position: fixed;
    height: 240px;
    .window-top {
      width: 330px;
      height: 30px;
      box-sizing: border-box;
      padding: 4px 5px 0 0;  
      img {
        height: 18px;
        float: right;
      }
    }
    .window-btm { 
      position: relative;
      width: 320px;

      img:first-child {
        width: 320px;
        height: 240px;
        object-fit: cover;
      }
      img:last-child {
        position: absolute;
        height: 244px;
        top: 0;
        right: 0;
      }
    }
  }
} 


/* 메인 카메라 창 */
.main-cam {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: 10px solid #CDACF9;
  border-top: none;
  background: #CDACF9;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  #video {
    position: relative;
  }
  .window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    width: 640px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    background: #CDACF9;
    box-sizing: border-box;
    padding: 7px 0 5px 0;
    div {
      display: flex;
      justify-content: space-between;
    }
    img {
      height: 20px;
    }
    >img {
      align-self: start;
    }
  }
  .timer {
    display: none;
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 30px;
    font-family: 'DOSGothic';
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color:white;
    background: #cdacf97e;
    color: #6464DE;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
}
.photo-canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.emoji-picker {
  top: 550px;
  left: 60vw;
}


/* 데코용 */
.login {
  z-index: 100;
  position: fixed;
  top: 52%;
  left: 20%;
  img {
    width: 240px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  }
}
.loading {
  z-index: 100;
  position: fixed;
  top: 320px;
  left: 1160px;
  div {
    font-size: 35px;
    letter-spacing: -0.20em;
    margin-bottom: 5px;
  }
  img {
    width: 240px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  }
}
.deco-1 {
  z-index: 0;
  position: fixed;
  top: 33%;
  left: 9%;
  img {
    width: 420px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  }
}
.deco-2 {
  z-index: 0;
  position: fixed;
  top: 100px;
  left: 1320px;
  img {
    width: 420px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  }
}
.error {
  display: none;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 240px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  }
}