@import "reset";

body {
  background: url('../src/img/background-img.svg');
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

/* 촬영한 사진 담길 div */
.windows {
  .sub-win-0 {
    .window-top {
      border-bottom: 1px solid #CDACF9;
      background: #6464DE;
    }
    .window-btm {
      border: 5px solid #CDACF9;
      background: #CDACF9;
    }
  }
  .sub-win-1 {
    .window-top {
      border-bottom: 1px solid #F7CEE8;
      background: #EF9FC3;
    }
    .window-btm {
      border: 5px solid #F7CEE8;
      background: #F7CEE8;
    }
  }
  & > div {
    position: fixed;
    height: 240px;
    .window-top {
      width: 330px;
      height: 30px;
      box-sizing: border-box;
      padding: 4px 5px 0 0;  
      img {
        height: 18px;
        float: right;
      }
    }
    .window-btm { 
      position: relative;
      width: 320px;

      img:first-child {
        width: 320px;
        height: 240px;
        object-fit: cover;
      }
      img:last-child {
        position: absolute;
        height: 244px;
        top: 0;
        right: 0;
      }
    }
  }
} 


/* 메인 카메라 창 */
.main-cam {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: 10px solid #CDACF9;
  border-top: none;
  background: #CDACF9;
  #video {
    position: relative;
  }
  .window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    width: 640px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    background: #CDACF9;
    box-sizing: border-box;
    padding: 7px 0 5px 0;
    div {
      display: flex;
      justify-content: space-between;
    }
    img {
      height: 20px;
    }
    >img {
      align-self: start;
    }
  }
  .timer {
    display: none;
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color:white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
}
.photo-canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.emoji-picker {
  bottom: calc(100vh - 1140px);
  left: 60vw;
}